.libros{
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(150px, 1fr)
            );
        gap: 32px;
}

.libros img{
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 3/4; /* Proporción libro típica */
    object-fit: cover;
    box-shadow: 0 0 30px #00000050;
}